@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Cantarell, sans-serif;
    font-weight: 600;
    font-size: 100%;
    color: #4d4d4d;
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
}

.teal-section {
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
    width: 100vw;
    background: rgb(96, 155, 167, 0.2); 
    padding: 1em 1em;
}

.white-section {
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
    width: 100vw;
    padding: 1em 1em;
}

/* headers */

#header-h1 {
    display: none;
}

h2 {
   color: #DE7544;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 1px;
}

h3 {
    color: #609BA7;
    text-transform: uppercase;
    font-size: 100%;
    letter-spacing: 1px;
}

/* navigation links */

nav {
    position: fixed;
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
    background: white;
    width: 100vw;
}

#logo {
    width: 30vw;
    position: relative;
    top: 16px;
    left: 25px;
}

#menu {
    font-size: 100%;
    letter-spacing: 1px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    position: relative;
    bottom: 80px;
    right: 25px;
}

#menu a {
    text-decoration: none;
    color: #609BA7;
    text-transform: uppercase;
}

#menu a:hover {
    border-bottom: 2px solid #609BA7;
}

.active {
    border-bottom: 2px solid #609BA7;
}

/* hero image */

#hero-image {
    height: 850px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: 100%;
}

/* about */

#about-div {
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
    width: 75vw;
}

#about-text {
    height: 200px;
    width: 80%;
    top: -230px;
    z-index: -1;
    float: right;
}

#about-image {
    height: 210px;
    width: 17%;
    background: url('../images/client-portrait.jpg') no-repeat center center;
    background-size: 100%;
    float: left;
}

/* services */

#services-div {
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 75vw;
}

/* testimonials */

#testimonials-section {
    background: rgb(96, 155, 167, 0.2);
}

#testimonials-div {
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
    width: 75vw;
}

.container {
    padding: 1em 1em;
    font-style: italic;
}

.author {
    font-style: normal;
}
